<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.master.tenant.TenantUserRoleR2SysApiMasterMapper">

  <insert id="insert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="com.ioiox.dei.duc.beans.entity.RoleR2SysApi"
          statementType="PREPARED">
    insert into tenant_user_role_r2_sys_api
    (role_sid, sys_api_sid,
    created_by, created_time, updated_time, version_num)
    values
    (#{roleSid}, #{sysApiSid},
    #{createdBy}, #{createdTime}, #{updatedTime}, #{versionNum})
  </insert>

  <insert id="batchInsert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="list" statementType="PREPARED">
    insert into tenant_user_role_r2_sys_api
    (role_sid, sys_api_sid,
    created_by, created_time, updated_time, version_num)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.roleSid}, #{item.sysApiSid},
      #{item.createdBy}, #{item.createdTime}, #{item.updatedTime}, #{item.versionNum})
    </foreach>
  </insert>

  <update id="updateByExample" parameterType="com.ioiox.dei.duc.beans.entity.RoleR2SysApi" statementType="PREPARED">
    update tenant_user_role_r2_sys_api
    <set>
      version_num = version_num + 1,
      <if test="roleSid != null">
        role_sid = #{roleSid},
      </if>
      <if test="sysApiSid != null">
        sys_api_sid = #{sysApiSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    where sid = #{sid} and version_num = #{versionNum}
  </update>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update tenant_user_role_r2_sys_api
    <set>
      version_num = version_num + 1,
      <if test="roleSid != null">
        role_sid = #{roleSid},
      </if>
      <if test="sysApiSid != null">
        sys_api_sid = #{sysApiSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    <where>
      <if test="roleSidCondition != null">
        and role_sid = #{roleSidCondition}
      </if>
      <if test="roleSidsCondition != null and roleSidsCondition.size > 0">
        and role_sid in
        <foreach collection="roleSidsCondition" item="roleSid" separator="," open="(" close=")">#{roleSid}</foreach>
      </if>
      <if test="sysApiSidCondition != null">
        and sys_api_sid = #{sysApiSidCondition}
      </if>
      <if test="sysApiSidsCondition != null and sysApiSidsCondition.size > 0">
        and sys_api_sid in
        <foreach collection="sysApiSidsCondition" item="sysApiSid" separator="," open="(" close=")">#{sysApiSid}</foreach>
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from tenant_user_role_r2_sys_api
    <where>
      <if test="roleSid != null">
        and role_sid = #{roleSid}
      </if>
      <if test="roleSids != null and roleSids.size > 0">
        and role_sid in
        <foreach collection="roleSids" item="roleSid" separator="," open="(" close=")">#{roleSid}</foreach>
      </if>
      <if test="sysApiSid != null">
        and sys_api_sid = #{sysApiSid}
      </if>
      <if test="sysApiSids != null and sysApiSids.size > 0">
        and sys_api_sid in
        <foreach collection="sysApiSids" item="sysApiSid" separator="," open="(" close=")">#{sysApiSid}</foreach>
      </if>
    </where>
  </delete>
</mapper>