<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.master.AcctUserGrpR2RoleMasterMapper">

  <insert id="insert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="com.ioiox.dei.duc.beans.entity.UserGrpR2Role"
          statementType="PREPARED">
    insert into acct_user_grp_r2_role
    (user_grp_sid, role_sid,
    created_by, created_time, updated_time, version_num)
    values
    (#{userGrpSid}, #{roleSid},
    #{createdBy}, #{createdTime}, #{updatedTime}, #{versionNum})
  </insert>

  <insert id="batchInsert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="list" statementType="PREPARED">
    insert into acct_user_grp_r2_role
    (user_grp_sid, role_sid,
    created_by, created_time, updated_time, version_num)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.userGrpSid}, #{item.roleSid},
      #{item.createdBy}, #{item.createdTime}, #{item.updatedTime}, #{item.versionNum})
    </foreach>
  </insert>

  <update id="updateByExample" parameterType="com.ioiox.dei.duc.beans.entity.UserGrpR2Role" statementType="PREPARED">
    update acct_user_grp_r2_role
    <set>
      version_num = version_num + 1,
      <if test="userGrpSid != null">
        user_grp_sid = #{userGrpSid},
      </if>
      <if test="roleSid != null">
        role_sid = #{roleSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    where sid = #{sid} and version_num = #{versionNum}
  </update>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update acct_user_grp_r2_role
    <set>
      version_num = version_num + 1,
      <if test="userGrpSid != null">
        user_grp_sid = #{userGrpSid},
      </if>
      <if test="roleSid != null">
        role_sid = #{roleSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    <where>
      <if test="userGrpSidCondition != null">
        and user_grp_sid = #{userGrpSidCondition}
      </if>
      <if test="userGrpSidsCondition != null and userGrpSidsCondition.size > 0">
        and user_grp_sid in
        <foreach collection="userGrpSidsCondition" item="userGrpSid" separator="," open="(" close=")">#{userGrpSid}</foreach>
      </if>
      <if test="roleSidCondition != null">
        and role_sid = #{roleSidCondition}
      </if>
      <if test="roleSidsCondition != null and roleSidsCondition.size > 0">
        and role_sid in
        <foreach collection="roleSidsCondition" item="roleSid" separator="," open="(" close=")">#{roleSid}</foreach>
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from acct_user_grp_r2_role
    <where>
      <if test="userGrpSid != null">
        and user_grp_sid = #{userGrpSid}
      </if>
      <if test="userGrpSids != null and userGrpSids.size > 0">
        and user_grp_sid in
        <foreach collection="userGrpSids" item="userGrpSid" separator="," open="(" close=")">#{userGrpSid}</foreach>
      </if>
      <if test="roleSid != null">
        and role_sid = #{roleSid}
      </if>
      <if test="roleSids != null and roleSids.size > 0">
        and role_sid in
        <foreach collection="roleSids" item="roleSid" separator="," open="(" close=")">#{roleSid}</foreach>
      </if>
    </where>
  </delete>
</mapper>