<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.master.UserAcctTmpSysResRoleR2ResMasterMapper">

  <insert id="insert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="com.ioiox.dei.duc.beans.entity.SysResRoleR2Res"
          statementType="PREPARED">
    insert into user_acct_tmp_sys_res_role_r2_res
    (tmp_sys_res_role_sid, sys_res_sid,
    created_by, created_time, updated_time, version_num)
    values
    (#{sysResRoleSid}, #{sysResSid},
    #{createdBy}, #{createdTime}, #{updatedTime}, #{versionNum})
  </insert>

  <insert id="batchInsert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="list" statementType="PREPARED">
    insert into user_acct_tmp_sys_res_role_r2_res
    (tmp_sys_res_role_sid, sys_res_sid,
    created_by, created_time, updated_time, version_num)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.sysResRoleSid}, #{item.sysResSid},
      #{item.createdBy}, #{item.createdTime}, #{item.updatedTime}, #{item.versionNum})
    </foreach>
  </insert>

  <update id="updateByExample" parameterType="com.ioiox.dei.duc.beans.entity.SysResRoleR2Res" statementType="PREPARED">
    update user_acct_tmp_sys_res_role_r2_res
    <set>
      version_num = version_num + 1,
      <if test="sysResRoleSid != null">
        tmp_sys_res_role_sid = #{sysResRoleSid},
      </if>
      <if test="sysResSid != null">
        sys_res_sid = #{sysResSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    where sid = #{sid} and version_num = #{versionNum}
  </update>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update user_acct_tmp_sys_res_role_r2_res
    <set>
      version_num = version_num + 1,
      <if test="sysResRoleSid != null">
        tmp_sys_res_role_sid = #{sysResRoleSid},
      </if>
      <if test="sysResSid != null">
        sys_res_sid = #{sysResSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    <where>
      <if test="sysResRoleSidCondition != null">
        and tmp_sys_res_role_sid = #{sysResRoleSidCondition}
      </if>
      <if test="sysResRoleSidsCondition != null and sysResRoleSidsCondition.size > 0">
        and tmp_sys_res_role_sid in
        <foreach collection="sysResRoleSidsCondition" item="sysResRoleSid" separator="," open="(" close=")">#{sysResRoleSid}</foreach>
      </if>
      <if test="sysResSidCondition != null">
        and sys_res_sid = #{sysResSidCondition}
      </if>
      <if test="sysResSidsCondition != null and sysResSidsCondition.size > 0">
        and sys_res_sid in
        <foreach collection="sysResSidsCondition" item="sysResSid" separator="," open="(" close=")">#{sysResSid}</foreach>
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from user_acct_tmp_sys_res_role_r2_res
    <where>
      <if test="sysResRoleSid != null">
        and tmp_sys_res_role_sid = #{sysResRoleSid}
      </if>
      <if test="sysResRoleSids != null and sysResRoleSids.size > 0">
        and tmp_sys_res_role_sid in
        <foreach collection="sysResRoleSids" item="sysResRoleSid" separator="," open="(" close=")">#{sysResRoleSid}</foreach>
      </if>
      <if test="sysResSid != null">
        and sys_res_sid = #{sysResSid}
      </if>
      <if test="sysResSids != null and sysResSids.size > 0">
        and sys_res_sid in
        <foreach collection="sysResSids" item="sysResSid" separator="," open="(" close=")">#{sysResSid}</foreach>
      </if>
    </where>
  </delete>
</mapper>