<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.slave.tenant.TenantUserTmpRoleR2SysApiSlaveMapper">
  <resultMap type="com.ioiox.dei.duc.beans.entity.RoleR2SysApi" id="BaseResultMap">
    <id property="sid" column="sid"/>

    <result property="roleSid" column="tmp_role_sid"/>
    <result property="sysApiSid" column="sys_api_sid"/>

    <result property="createdBy" column="created_by"/>
    <result property="createdTime" column="created_time"/>
    <result property="updatedBy" column="updated_by"/>
    <result property="updatedTime" column="updated_time"/>
    <result property="versionNum" column="version_num"/>
  </resultMap>

  <sql id="Base_Column_List">
    a.sid, a.tmp_role_sid, a.sys_api_sid,
    a.created_by, a.created_time, a.updated_by, a.updated_time, a.version_num
  </sql>

  <sql id="Query_Conditions">
    <if test="roleSid != null">
      and a.tmp_role_sid = #{roleSid}
    </if>
    <if test="roleSids != null and roleSids.size > 0">
      and a.tmp_role_sid in
      <foreach collection="roleSids" item="roleSid" separator="," open="(" close=")">#{roleSid}</foreach>
    </if>
    <if test="sysApiSid != null">
      and a.sys_api_sid = #{sysApiSid}
    </if>
    <if test="sysApiSids != null and sysApiSids.size > 0">
      and a.sys_api_sid in
      <foreach collection="sysApiSids" item="sysApiSid" separator="," open="(" close=")">#{sysApiSid}</foreach>
    </if>
  </sql>

  <select id="countByParams" resultType="int" parameterType="map" statementType="PREPARED">
    select count(1)
    from tenant_user_tmp_role_r2_sys_api a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" statementType="PREPARED">
    select
    <include refid="Base_Column_List"/>
    from tenant_user_tmp_role_r2_sys_api a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParamsOnSelective" parameterType="map" resultMap="BaseResultMap" statementType="PREPARED">
    select
    <trim suffixOverrides=",">
      <if test="sidShow != null">
        a.sid,
      </if>
      <if test="roleSidShow != null">
        a.tmp_role_sid,
      </if>
      <if test="sysApiSidShow != null">
        a.sys_api_sid,
      </if>
      <if test="createdByShow != null">
        a.created_by,
      </if>
      <if test="createdTimeShow != null">
        a.created_time,
      </if>
      <if test="updatedByShow != null">
        a.updated_by,
      </if>
      <if test="updatedTimeShow != null">
        a.updated_time,
      </if>
      <if test="versionNumShow != null">
        a.version_num,
      </if>
    </trim>
    from tenant_user_tmp_role_r2_sys_api a
    <where>
      <include refid="Query_Conditions" />
    </where>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and offset != null">
      limit #{offset}, #{limit}
    </if>
  </select>
</mapper>