<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.slave.user.AcctUserGrpSlaveMapper">
  <resultMap type="com.ioiox.dei.duc.beans.entity.AcctUserGrp" id="BaseResultMap">
    <id property="sid" column="sid"/>

    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="memo" column="memo"/>
    <result property="status" column="status"/>
    <result property="corpSid" column="corp_sid"/>
    <result property="tenantSid" column="tenant_sid"/>

    <result property="createdBy" column="created_by"/>
    <result property="createdTime" column="created_time"/>
    <result property="updatedBy" column="updated_by"/>
    <result property="updatedTime" column="updated_time"/>
    <result property="versionNum" column="version_num"/>
  </resultMap>

  <sql id="Base_Column_List">
    a.sid, a.code, a.name, a.memo, a.status, a.corp_sid, a.tenant_sid,
    a.created_by, a.created_time, a.updated_by, a.updated_time, a.version_num
  </sql>

  <sql id="Query_Conditions">
    <if test="sid != null">
      and a.sid = #{sid}
    </if>
    <if test="sids != null and sids.size > 0">
      and a.sid in
      <foreach collection="sids" item="sid" separator="," open="(" close=")">#{sid}</foreach>
    </if>
    <if test="code != null">
      and a.code = #{code}
    </if>
    <if test="codes != null and codes.size > 0">
      and a.code in
      <foreach collection="codes" item="code" separator="," open="(" close=")">#{code}</foreach>
    </if>
    <if test="corpSid != null">
      and a.corp_sid = #{corpSid}
    </if>
    <if test="corpSids != null and corpSids.size > 0">
      and a.corp_sid in
      <foreach collection="corpSids" item="corpSid" separator="," open="(" close=")">#{corpSid}</foreach>
    </if>
    <if test="tenantSid != null">
      and a.tenant_sid = #{tenantSid}
    </if>
    <if test="tenantSids != null and tenantSids.size > 0">
      and a.tenant_sid in
      <foreach collection="tenantSids" item="tenantSid" separator="," open="(" close=")">#{tenantSid}</foreach>
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>
    <if test="statuses != null and statuses.size > 0">
      and a.status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">#{status}</foreach>
    </if>
  </sql>

  <select id="countByParams" resultType="int" parameterType="map" statementType="PREPARED">
    select count(1)
    from acct_user_grp a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" statementType="PREPARED">
    select
    <include refid="Base_Column_List"/>
    from acct_user_grp a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParamsOnSelective" parameterType="map" resultMap="BaseResultMap" statementType="PREPARED">
    select
    <trim suffixOverrides=",">
      <if test="sidShow != null">
        a.sid,
      </if>
      <if test="codeShow != null">
        a.code,
      </if>
      <if test="nameShow != null">
        a.name,
      </if>
      <if test="memoShow != null">
        a.memo,
      </if>
      <if test="statusShow != null">
        a.status,
      </if>
      <if test="corpSidShow != null">
        a.corp_sid,
      </if>
      <if test="tenantSidShow != null">
        a.tenant_sid,
      </if>
      <if test="createdByShow != null">
        a.created_by,
      </if>
      <if test="createdTimeShow != null">
        a.created_time,
      </if>
      <if test="updatedByShow != null">
        a.updated_by,
      </if>
      <if test="updatedTimeShow != null">
        a.updated_time,
      </if>
      <if test="versionNumShow != null">
        a.version_num,
      </if>
    </trim>
    from acct_user_grp a
    <where>
      <include refid="Query_Conditions" />
    </where>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and offset != null">
      limit #{offset}, #{limit}
    </if>
  </select>
</mapper>