<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.slave.user.AcctUserSysPrjPrivilegeSlaveMapper">
  <resultMap type="com.ioiox.dei.duc.beans.entity.UserSysPrjPrivilege" id="BaseResultMap">
    <id property="sid" column="sid"/>

    <result property="userSid" column="user_acct_sid"/>
    <result property="sysPrjSid" column="sys_prj_sid"/>
    <result property="accessCondition" column="access_condition"/>

    <result property="createdBy" column="created_by"/>
    <result property="createdTime" column="created_time"/>
    <result property="updatedBy" column="updated_by"/>
    <result property="updatedTime" column="updated_time"/>
    <result property="versionNum" column="version_num"/>
  </resultMap>

  <sql id="Base_Column_List">
    a.sid, a.user_acct_sid, a.sys_prj_sid, a.access_condition,
    a.created_by, a.created_time, a.updated_by, a.updated_time, a.version_num
  </sql>

  <sql id="Query_Conditions">
    <if test="sid != null">
      and a.sid = #{sid}
    </if>
    <if test="sids != null and sids.size > 0">
      and a.sid in
      <foreach collection="sids" item="sid" separator="," open="(" close=")">#{sid}</foreach>
    </if>
    <if test="userSid != null">
      and a.user_acct_sid = #{userSid}
    </if>
    <if test="userSids != null and userSids.size > 0">
      and a.user_acct_sid in
      <foreach collection="userSids" item="userSid" separator="," open="(" close=")">#{userSid}</foreach>
    </if>
    <if test="sysPrjSid != null">
      and a.sys_prj_sid = #{sysPrjSid}
    </if>
    <if test="sysPrjSids != null and sysPrjSids.size > 0">
      and a.sys_prj_sid in
      <foreach collection="sysPrjSids" item="sysPrjSid" separator="," open="(" close=")">#{sysPrjSid}</foreach>
    </if>
  </sql>

  <select id="countByParams" resultType="int" parameterType="map" statementType="PREPARED">
    select count(1)
    from acct_user_sys_prj_privilege a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" statementType="PREPARED">
    select
    <include refid="Base_Column_List"/>
    from acct_user_sys_prj_privilege a
    <where>
      <include refid="Query_Conditions" />
    </where>
  </select>

  <select id="findByParamsOnSelective" parameterType="map" resultMap="BaseResultMap" statementType="PREPARED">
    select
    <trim suffixOverrides=",">
      <if test="sidShow != null">
        a.sid,
      </if>
      <if test="userSidShow != null">
        a.user_acct_sid,
      </if>
      <if test="sysPrjSidShow != null">
        a.sys_prj_sid,
      </if>
      <if test="accessConditionShow != null">
        a.access_condition,
      </if>
      <if test="createdByShow != null">
        a.created_by,
      </if>
      <if test="createdTimeShow != null">
        a.created_time,
      </if>
      <if test="updatedByShow != null">
        a.updated_by,
      </if>
      <if test="updatedTimeShow != null">
        a.updated_time,
      </if>
      <if test="versionNumShow != null">
        a.version_num,
      </if>
    </trim>
    from acct_user_sys_prj_privilege a
    <where>
      <include refid="Query_Conditions" />
    </where>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and offset != null">
      limit #{offset}, #{limit}
    </if>
  </select>
</mapper>