<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.master.user.UserAcctR2TmpSysResRoleMasterMapper">

  <insert id="insert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="com.ioiox.dei.duc.beans.entity.UserAcctR2SysResRole"
          statementType="PREPARED">
    insert into user_acct_r2_tmp_sys_res_role
    (user_acct_sid, tmp_sys_res_role_sid,
    created_by, created_time, updated_time, version_num)
    values
    (#{userSid}, #{sysResRoleSid},
    #{createdBy}, #{createdTime}, #{updatedTime}, #{versionNum})
  </insert>

  <insert id="batchInsert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="list" statementType="PREPARED">
    insert into user_acct_r2_tmp_sys_res_role
    (user_acct_sid, tmp_sys_res_role_sid,
    created_by, created_time, updated_time, version_num)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.userSid}, #{item.sysResRoleSid},
      #{item.createdBy}, #{item.createdTime}, #{item.updatedTime}, #{item.versionNum})
    </foreach>
  </insert>

  <update id="updateByExample" parameterType="com.ioiox.dei.duc.beans.entity.UserAcctR2SysResRole" statementType="PREPARED">
    update user_acct_r2_tmp_sys_res_role
    <set>
      version_num = version_num + 1,
      <if test="userSid != null">
        user_acct_sid = #{userSid},
      </if>
      <if test="sysResRoleSid != null">
        tmp_sys_res_role_sid = #{sysResRoleSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    where sid = #{sid} and version_num = #{versionNum}
  </update>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update user_acct_r2_tmp_sys_res_role
    <set>
      version_num = version_num + 1,
      <if test="userSid != null">
        user_acct_sid = #{userSid},
      </if>
      <if test="sysResRoleSid != null">
        tmp_sys_res_role_sid = #{sysResRoleSid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    <where>
      <if test="userSidCondition != null">
        and user_acct_sid = #{userSidCondition}
      </if>
      <if test="userSidsCondition != null and userSidsCondition.size > 0">
        and user_acct_sid in
        <foreach collection="userSidsCondition" item="userSid" separator="," open="(" close=")">#{userSid}</foreach>
      </if>
      <if test="sysResRoleSidCondition != null">
        and tmp_sys_res_role_sid = #{sysResRoleSidCondition}
      </if>
      <if test="sysResRoleSidsCondition != null and sysResRoleSidsCondition.size > 0">
        and tmp_sys_res_role_sid in
        <foreach collection="sysResRoleSidsCondition" item="sysResRoleSid" separator="," open="(" close=")">#{sysResRoleSid}</foreach>
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from user_acct_r2_tmp_sys_res_role
    <where>
      <if test="userSid != null">
        and user_acct_sid = #{userSid}
      </if>
      <if test="userSids != null and userSids.size > 0">
        and user_acct_sid in
        <foreach collection="userSids" item="userSid" separator="," open="(" close=")">#{userSid}</foreach>
      </if>
      <if test="sysResRoleSid != null">
        and tmp_sys_res_role_sid = #{sysResRoleSid}
      </if>
      <if test="sysResRoleSids != null and sysResRoleSids.size > 0">
        and tmp_sys_res_role_sid in
        <foreach collection="sysResRoleSids" item="sysResRoleSid" separator="," open="(" close=")">#{sysResRoleSid}</foreach>
      </if>
    </where>
  </delete>
</mapper>