<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioiox.dei.duc.db.mapper.master.tenant.TenantMasterMapper">

  <insert id="insert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="com.ioiox.dei.duc.beans.entity.Tenant"
          statementType="PREPARED">
    insert into tenant
    (code, name, memo, status, lvl, pid, rid,
    created_by, created_time, updated_time, version_num)
    values
    (#{code}, #{name}, #{memo}, #{status}, #{lvl}, #{pid}, #{rid},
    #{createdBy}, #{createdTime}, #{updatedTime}, #{versionNum})
  </insert>

  <insert id="batchInsert" keyProperty="sid" keyColumn="sid" useGeneratedKeys="true" parameterType="list" statementType="PREPARED">
    insert into tenant
    (code, name, memo, status, lvl, pid, rid,
    created_by, created_time, updated_time, version_num)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.code}, #{item.name}, #{item.memo}, #{item.status}, #{item.lvl}, #{item.pid}, #{item.rid},
      #{item.createdBy}, #{item.createdTime}, #{item.updatedTime}, #{item.versionNum})
    </foreach>
  </insert>

  <update id="updateByExample" parameterType="com.ioiox.dei.duc.beans.entity.Tenant" statementType="PREPARED">
    update tenant
    <set>
      version_num = version_num + 1,
      <if test="code != null">
        code = #{code},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="memo != null">
        memo = #{memo},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="lvl != null">
        lvl = #{lvl},
      </if>
      <if test="pid != null">
        pid = #{pid},
      </if>
      <if test="rid != null">
        rid = #{rid},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    where sid = #{sid} and version_num = #{versionNum}
  </update>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update tenant
    <set>
      version_num = version_num + 1,
      <if test="memo != null">
        memo = #{memo},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="lvl != null">
        lvl = #{lvl},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
    </set>
    <where>
      <if test="sidCondition != null">
        and sid = #{sidCondition}
      </if>
      <if test="sidsCondition != null and sidsCondition.size > 0">
        and sid in
        <foreach collection="sidsCondition" item="sid" separator="," open="(" close=")">#{sid}</foreach>
      </if>
      <if test="pidCondition != null">
        and pid = #{pidCondition}
      </if>
      <if test="pidsCondition != null and pidsCondition.size > 0">
        and pid in
        <foreach collection="pidsCondition" item="pid" separator="," open="(" close=")">#{pid}</foreach>
      </if>
      <if test="ridCondition != null">
        and rid = #{ridCondition}
      </if>
      <if test="ridsCondition != null and ridsCondition.size > 0">
        and rid in
        <foreach collection="ridsCondition" item="rid" separator="," open="(" close=")">#{rid}</foreach>
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from tenant
    <where>
      <if test="sid != null">
        and sid = #{sid}
      </if>
      <if test="sids != null and sids.size > 0">
        and sid in
        <foreach collection="sids" item="sid" separator="," open="(" close=")">#{sid}</foreach>
      </if>
      <if test="pid != null">
        and pid = #{pid}
      </if>
      <if test="pids != null and pids.size > 0">
        and pid in
        <foreach collection="pids" item="pid" separator="," open="(" close=")">#{pid}</foreach>
      </if>
      <if test="rid != null">
        and rid = #{rid}
      </if>
      <if test="rids != null and rids.size > 0">
        and rid in
        <foreach collection="rids" item="rid" separator="," open="(" close=")">#{rid}</foreach>
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="statuses != null and statuses.size > 0">
        and status in
        <foreach collection="statuses" item="status" separator="," open="(" close=")">#{status}</foreach>
      </if>
    </where>
  </delete>
</mapper>